@{
    ViewBag.Title = "Posts";
    Layout = "../Shared/_Layout.cshtml";
}

@Html.ActionLink("New", "edit")

<table>
@foreach(var post in Model)
{
    <tr>
        <td>@post.Title</td>
        <td>@post.Created</td>
        <td>@Html.ActionLink("Edit", "edit", new { post.Id })</td>
        <td>@using (Html.BeginForm("delete","post",new {post.Id})){
            <input type="submit" value="Delete" onclick="return confirm('Are you sure?')" />
        }</td>
    </tr>
}
</table>