
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("GetNewPassword", "authentication"))
{
    @Html.ValidationMessage("email")
    <fieldset>
        <dl>
            <dt>Your e-mailaddress</dt>
            <dd>@Html.TextBox("email")</dd>
        </dl>
    </fieldset>
    <p>
        <input type="submit" value="Send me a new password via e-mail" />
    </p>
}
    @Html.ActionLink("Back to Sign-in", "Index")
</div>
