@{
    ViewBag.Title = "Please sign in";
    Layout = "../Shared/_Layout.cshtml";
}

<p>You'll get your new password in a few minutes, in an e-mail.</p>
<p><a href="index">Go back to the sign-in page</a></p>