@{
    ViewBag.Title = "Please sign in";
    Layout = "../Shared/_Layout.cshtml";
}

@model Postback.Blog.ViewModels.AuthenticationModel

@using (Html.BeginForm("index","authentication"))
{
    @Html.EditorForModel()
    <p>
        <input type="submit" value="Sign-in" />
    </p>
}