@if(HttpContext.Current.User.Identity.IsAuthenticated)
{
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Dashboard", "index", "dashboard")</li>
            <li>@Html.ActionLink("Posts", "index", "post")</li>
            <li>@Html.ActionLink("Users", "index", "user")</li>
            <li class="website"><a href="/">Website</a></li>
            <li class="signout">@Html.ActionLink("Sign-out", "signout", "authentication")</li>
        </ul>
    </nav>
    }